@model PriscilaZunigaWebBookBites.Models.PZLibro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PZLibro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PZTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PZTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PZAutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PZAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PZVolumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PZVolumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PZPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PZPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PZNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PZNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PZLibroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
