@model IEnumerable<PriscilaZunigaWebBookBites.Models.PZCopia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Copias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Cantidad</th>
            <th>Color</th>
            <th>Formato</th>
            <th>Fecha de Copia</th>
            <th>Libro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PZCantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.PZColor)</td>
                <td>@Html.DisplayFor(modelItem => item.PZFormato)</td>
                <td>@Html.DisplayFor(modelItem => item.PZFechaCopia)</td>
                <td>@Html.DisplayFor(modelItem => item.PZLibro.PZAutor)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PZCopiaID" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PZCopiaID" class="btn btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PZCopiaID" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
